<!DOCTYPE html>
<html lang="en">
<head>
	{% if page.title %}
	<title>{{ page.title }}</title>
	<meta name="description" content="Kubotor is an organisation built on an aim to Promote Cyber Security Awareness and to Boost Security of Individuals and Organisations.">
	<meta charset="utf-8">
	<meta name="theme-color" content="#212121">
	<meta name="msapplication-TileColor" content="#b91d47">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta property="og:title" content="{{ page.title }}">
	<meta property="og:url" content="https://kubotor.com{{ page.url }}">
	<meta property="og:description" content="Kubotor is an organisation built on an aim to Promote Cyber Security Awareness and to Boost Security of Individuals and Organisations">
	<meta property="og:image" content="https://kubotor.com/img/{{ page.image }}">
	<meta property="og:type" content="website">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@Kubotortech">
	<meta name="twitter:creator" content="@thewhiteh4t">
	<meta name="twitter:title" content="{{ page.title }}">
	<meta name="twitter:description" content="Kubotor (cube-o-tor), is an organisation built on an aim to Promote Cyber Security Awareness and to Boost Security of Individuals and Organisations">
	<meta name="twitter:image" content="https://kubotor.com/img/{{ page.image }}">
	{% else %}
	<title>Kubotor | We Find It. We Patch It.</title>
	<meta name="description" content="Kubotor is an organisation built on an aim to Promote Cyber Security Awareness and to Boost Security of Individuals and Organisations.">
	<meta charset="utf-8">
	<meta name="theme-color" content="#212121">
	<meta name="msapplication-TileColor" content="#b91d47">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta property="og:title" content="Kubotor | We Find It. We Patch It.">
	<meta property="og:url" content="https://kubotor.com">
	<meta property="og:description" content="Kubotor is an organisation built on an aim to Promote Cyber Security Awareness and to Boost Security of Individuals and Organisations">
	<meta property="og:image" content="https://kubotor.com/img/og_kubotor_dark.png">
	<meta property="og:type" content="website">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@Kubotortech">
	<meta name="twitter:creator" content="@thewhiteh4t">
	<meta name="twitter:title" content="Kubotor | We Find It. We Patch It.">
	<meta name="twitter:description" content="Kubotor (cube-o-tor), is an organisation built on an aim to Promote Cyber Security Awareness and to Boost Security of Individuals and Organisations">
	<meta name="twitter:image" content="https://kubotor.com/img/og_kubotor_dark.png">
	{% endif %}
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/favicon-16x16.png">
	<link rel="manifest" href="{{ site.url }}/site.webmanifest">
	<link rel="mask-icon" href="{{ site.url }}/safari-pinned-tab.svg" color="#ff2e00">
	<link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.url }}/css/mdb.min.css">
	<link rel="preload" href="{{ site.url }}/css/all.min.css">
	<link rel="stylesheet" href="{{ site.url }}/css/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap"> 
</head>

<body>
	<div id="particles-js"></div>

	<nav class="navbar fixed-top navbar-expand-lg navbar-dark elegant-color-dark">
		<div class="container">
			<a class="navbar-brand" href="{{ site.url }}/">
				<img class="img-fluid lazyload" src="{{ site.url }}/img/final_logo_red_text.png" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="{{ site.url }}/img/final_logo_red_text.png" alt="Kubotor - logo">
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hamburger">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="hamburger">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link nb-fontsize" href="{{ site.url }}#intro"><button class="btn btn-outline-danger">About Us</button></a>
					</li>
					<li class="nav-item dropdown megamenu-li">
						<a class="nav-link nb-fontsize dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-toggle="collapse" data-target=".navbar-collapse.show"><button class="btn btn-outline-danger">Services</button></a>
						<div class="dropdown-menu megamenu elegant-color-dark wow fadeIn" aria-labelledby="dropdown01">
						   	<div class="row text-center">
						       	<div class="col-sm col-lg-3">
						        	<h5 class="btn btn-outline-danger">Training</h5>
						       		<a class="dropdown-item white-text" href="{{ site.url }}/training/web_pentest_basic.html">Web Penetration Testing Basic</a>
						       		<a class="dropdown-item white-text" href="{{ site.url }}/training/web_pentest_advanced.html">Web Penetration Testing Advanced</a>
						        	<a class="dropdown-item white-text" href="{{ site.url }}/training/ethical_hacking_phase_one.html">Information Security & Ethical Hacking Phase I</a>
						        	<a class="dropdown-item white-text" href="{{ site.url }}/training/ethical_hacking_phase_two.html">Information Security & Ethical Hacking Phase II</a>
						        	<a class="dropdown-item white-text" href="#!">Exploit Writing</a>
						       		<a class="dropdown-item white-text" href="#!">Mobile Penetration Testing</a>
						       		<a class="dropdown-item white-text" href="#!">Cyber Forensics</a>
						   		</div>
						       	<div class="col-sm col-lg-3">
						        	<h5 class="btn btn-outline-danger">Seminars & Workshops</h5>
						        	<a class="dropdown-item white-text" href="{{ site.url }}/#career">Career Orientation</a>
						        	<a class="dropdown-item white-text" href="{{ site.url }}/#infosec">Information Security</a>
						        	<a class="dropdown-item white-text" href="{{ site.url }}/#awareness">Cyber Security Awareness</a>
						       	</div>
						       	<div class="col-sm col-lg-3">
						        	<h5 class="btn btn-outline-danger">Corporate Training</h5>
						       		<a class="dropdown-item white-text" href="{{ site.url }}/training/integrated_security_systems.html">Integrated Security Systems & Services</a>
						       		<a class="dropdown-item white-text" href="{{ site.url }}/training/intrusion_detection_analysis.html">Intrusion Detection Analysis</a>
						        	<a class="dropdown-item white-text" href="{{ site.url }}/training/malware_analysis_training.html">Malware Analysis</a>
						       		<a class="dropdown-item white-text" href="{{ site.url }}/training/infosec_training.html">Information Security</a>
						       		<a class="dropdown-item white-text" href="{{ site.url }}/training/secure_coding_training.html">Application Security & Secure Coding</a>
						   		</div>
						       	<div class="col-sm col-lg-3">
						        	<h5 class="btn btn-outline-danger">VAPT</h5>
						        	<a class="dropdown-item white-text" href="#!">Web App Penetration Testing</a>
						        	<a class="dropdown-item white-text" href="#!">Network Penetration Testing</a>
						        	<a class="dropdown-item white-text" href="#!">SAP Penetration Testing</a>
						        	<a class="dropdown-item white-text" href="#!">Thick Client App Penetration Testing</a>
						       	</div>
						    </div>
						</div>
					</li>

					<li class="nav-item">
						<a class="nav-link nb-fontsize" href="{{ site.url }}#events"><button class="btn btn-outline-danger">Events</button></a>
					</li>
					<li class="nav-item">
						<a class="nav-link nb-fontsize" href="{{ site.url }}/blog/"><button class="btn btn-outline-danger">Blog</button></a>
					</li>
					<li class="nav-item">
						<a class="nav-link nb-fontsize" href="#contactUs"><button class="btn btn-outline-danger">Contact Us</button></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	{{ content }}

	<footer class="page-footer font-small dark-transparent" id="contactUs">
		<div class="container">
			<div class="text-center">
				<h3 class="white-text" style="padding-top: 20px;">Get in Touch</h3>
			</div>
			<div class="row">
				<div class="col-md-12 py-5">
					<div class="mb-5 flex-center">
						<a class="round blue-gradient" href="https://www.facebook.com/Kubotor/">
							<i class="fab fa-facebook white-text fa-2x"> </i>
						</a>
						<a class="round aqua-gradient" href="https://twitter.com/Kubotortech">
							<i class="fab fa-twitter white-text fa-2x"> </i>
						</a>				          
						<a class="round blue-gradient" href="https://www.linkedin.com/company/kubotor">
							<i class="fab fa-linkedin-in white-text fa-2x"> </i>
						</a>				          
						<a class="round purple-gradient" href="https://www.instagram.com/kubotortechnologies/">
							<i class="fab fa-instagram white-text fa-2x"> </i>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6 text-center">
					<a href="tel:+91-8558964701">
						<button class="btn btn-outline-success">
							<i class="fas fa-phone fa-2x"></i>
							<span class="ml-2">Call</span>
						</button>
					</a>
				</div>
				<div class="col-6 text-center">
					<a href="mailto:info@kubotor.com">
						<button class="btn btn-outline-success">
							<i class="fas fa-envelope fa-2x"></i>
							<span class="ml-1">Email</span>
						</button>
					</a>
				</div>	
			</div>
		</div>
	
		<div class="footer-copyright text-center py-3" style="margin-top: 20px;">© 2019 Copyright :
			<a href="#!"> Kubotor Technologies PVT LTD</a>
		</div> 
		<div class="text-center">
			<a href="//www.dmca.com/Protection/Status.aspx?ID=b73edaa9-ed92-4118-a62e-dbe293e03f7e" title="DMCA.com Protection Status" class="dmca-badge"> 
				<img class="lazyload" srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="{{ site.url }}/img/dmca.png" src ="{{ site.url }}/img/dmca.png"  alt="Kubotor - DMCA.com Protection Status">
			</a>  
			<script src="{{ site.url }}/js/DMCABadgeHelper.min.js"> </script>
		</div>
	</footer>

	<script type="text/javascript" src="{{ site.url }}/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}/js/popper.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}/js/mdb.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}/js/lazysizes.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}/js/particles.min.js"></script>
 	<script>
		$(document).ready(function() {
			$(".megamenu").on("click", function(e) {
				e.stopPropagation();
			});
		});
		$(".dropdown-menu a").click(function() {
		    $(this).closest(".dropdown-menu").prev().dropdown("toggle");
		});
		//$('.navbar-nav>li>a').on('click', function(){ $('.navbar-collapse').collapse('hide'); }); 
	</script>
	<script>particlesJS.load('particles-js', '{{ site.url }}/js/particles.json', function() { console.log('SUCCESS'); });</script>
	<script>new WOW().init();</script>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145829477-1"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());
  			gtag('config', 'UA-145829477-1');
	</script>
</body>
</html>